<div class="weapon-container" *ngIf="weapon" [ngbPopover]="weaponEffectPopover" [popoverTitle]="weapon.name"
    popoverClass="gagu-popover" [disablePopover]="effectStyle != 'popover' || !weapon.effect" container="body">
  <!-- Image -->
  <div class="weapon-image {{gameCode}}-rarity-{{weapon.rarity}}">
    <img [src]="weapon.imageUrl ?? unknownImg" height="80" />
  </div>
  <!-- Info -->
  <div class="weapon-info">
    <div>
      <h5 class="weapon-name">
        {{weapon.name}}
      </h5>
      <p class="weapon-metadata" *ngIf="showAdditionalInfo">
        <img [src]="rarity.imageUrl" [alt]="rarity.label" [title]="rarity.label" height="24" />
        |
        <img [src]="type.imageUrl" [alt]="type.label" [title]="type.label" height="24" />
      </p>
    </div>
  </div>
  <!-- Effect (box) - Trigger -->
  <div *ngIf="effectStyle == 'box' && weapon.effect" class="pointer effect-arrow collapsed"
      data-bs-toggle="collapse" [attr.data-bs-target]="'#'+weaponId+'effect'">
    <img src="assets/svg/arrow-down.svg" height="20">
  </div>
  <!-- Secondary stats -->
  <div class="weapon-stat" *ngIf="showAdditionalInfo && weapon.secondaryStat">
    <b>{{weapon.secondaryStat}}</b>
  </div>
  <!-- Effect (box) -->
  <div *ngIf="effectStyle == 'box' && weapon.effect" class="weapon-effect collapse"
      id="{{weaponId}}effect" data-bs-parent="#weapons-container">
    <div [innerHTML]="weapon.formattedEffect"></div>
  </div>
</div>

<!-- Effect (popover) -->
<ng-template #weaponEffectPopover>
  <div [innerHTML]="weapon.formattedEffect"></div>
</ng-template>