@if (weapon) {
  <div
    class="weapon-container"
    [ngClass]="{
      'expandable': showExpandButton,
      'rarity-background-fade': isBackgroundStyleFade
    }"
    [style.--rarity-color]="rarity?.color"
    [style.--weapon-dimensions.px]="dimensions"
    [ngbPopover]="weaponEffectPopover"
    [popoverTitle]="weapon.name"
    popoverClass="gagu-popover"
    [disablePopover]="!hasPopoverEffect"
    container="body">

    <!-- Image -->
    <div
      class="weapon-image"
      [style]="weaponImageStyle"
      [style.width.px]="dimensions"
      [style.height.px]="dimensions">

      <img
        [src]="weapon.imageUrl ?? UNKNOWN_IMG"
        [height]="dimensions"
        [alt]="weapon.name">
    </div>

    <!-- Info -->
    <div class="weapon-info">
      <div>
        <span class="weapon-name">
          {{ weapon.name }}
        </span>

        @if (showAdditionalInfo) {
          <p class="weapon-metadata">
            @if (rarity) {
              <img
                [src]="rarity.imageUrl"
                [alt]="rarity.label"
                [title]="rarity.label"
                height="24">
            }

            @if (rarity && type) {
              |
            }

            @if (type) {
              <img
                [src]="type.imageUrl"
                [alt]="type.label"
                [title]="type.label"
                height="24">
            }
          </p>
        }
      </div>
    </div>

    <!-- Effect / Equipped-by trigger -->
    @if (showExpandButton) {
      <div
        class="pointer expandable-arrow collapsed"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="collapseTarget">

        <img
          src="assets/svg/arrow-down.svg"
          height="20"
          alt="Expand">
      </div>
    }

    <!-- Secondary stat -->
    @if (showAdditionalInfo && weapon.secondaryStat) {
      <div class="weapon-stat">
        <b>{{ weapon.secondaryStat }}</b>
      </div>
    }

    <!-- Effect -->
    @if (hasBoxEffect) {
      <div
        class="weapon-effect collapse"
        [id]="effectId"
        data-bs-parent="#weapons-container">

        <div [innerHTML]="weapon.formattedEffect"></div>
      </div>
    }

    <!-- Equipped characters -->
    @if (showEquippedBy) {
      <div
        class="equipped-by collapse"
        [id]="equippedById"
        data-bs-parent="#weapons-container">

        <div>
          @for (char of equippedCharacters; track char) {
            <app-character-image
              [styles]="'margin: 0 5px; border-radius: 50%;'"
              [characterName]="char"
              [dimensions]="40">
            </app-character-image>
          }
        </div>
      </div>
    }
  </div>
}

<!-- Effect (popover) -->
<ng-template #weaponEffectPopover>
  <div [innerHTML]="weapon?.formattedEffect"></div>
</ng-template>