@if (isLoading) {
  <app-loader></app-loader>
} @else if (code && charmd) {
  <div class="cahracter-details">
    <div class="row">
      <div class="col">
        <app-character-image
          [characterName]="code"
          [dimensions]="PFP_SIZE"
          [imageStyle]="'gallery'"
          [mobileSizeRatio]="0.6"
          [showBorderStyle]="true">
        </app-character-image>
      </div>

      <div class="character-data col">
        <ul>
          <li class="name">
            {{ charmd.name }}
          </li>
          @if (rarity) {
            <li
              class="tag"
              [style.border-color]="Utils.rarityCSSVar(charmd.gameCode, rarity.code)">
              <img
                [src]="rarity.imageUrl"
                [height]="ICON_SIZE"
                [title]="rarity.code"
                loading="lazy" />
              <span>{{ rarity.label }}</span>
            </li>
          }
          @if (element) {
            <li
              class="tag"
              [style.border-color]="Utils.elementCSSVar(charmd.gameCode, element.code)"
              [style.background-color]="Utils.elementCSSVar(charmd.gameCode, element.code, 0.1)">
              <img
                [src]="element.imageUrl"
                [height]="ICON_SIZE"
                [title]="element.code"
                loading="lazy" />
              <span>{{ element.label }}</span>
            </li>
          }
          @if (type) {
            <li class="tag">
              <img
                [src]="type.imageUrl"
                [height]="ICON_SIZE"
                [title]="type.code"
                loading="lazy" />
              <span>{{ type.label }}</span>
            </li>
          }
        </ul>
      </div>
    </div>

    <div>
      <h5
        class="content-header"
        style="margin-top: 0;">
        Skills
      </h5>
      <ul class="skill-list">
        @for (desc of charmd.skillDescriptionList; track $index) {
          <li>{{ desc }}</li>
        }
      </ul>
      @if (notes.length > 0) {
        <div>
          <div class="description">
            @for (note of notes; track $index) {
              <div [ngClass]="{'mt-2': $index > 0}"></div>
              @if (note.formattedTitle) {
                <span class="description__title" [innerHTML]="note.formattedTitle"></span>:
              }
              <span class="description__content" [innerHTML]="note.formattedText">
              </span>
              <br>
            }
          </div>
        </div>
      }
    </div>

    @if (hasBuild) {
      <app-character-build
        [character]="code"
        (hasBuild)="hasBuild = $event">
      </app-character-build>
    } @else if (hasCombos) {
      <app-character-combos
        [character]="code"
        (hasCombos)="hasCombos = $event">
      </app-character-combos>
    } @else {
      <div></div>
    }

    

    <app-character-teams
      [character]="code">
    </app-character-teams>
  </div>
}