@if (imageStyle == 'pfp') {
  <!-- PFP -->
  <app-character-image-pfp
    [charmd]="charmd"
    [styles]="styles"
    [classes]="classes"
    [dimensions]="dimensions"
    [showElement]="showElement"
    [showType]="showType"
    [enableViewCharacter]="enableDetailsRedirect"
    [elementImageTemplate]="elementImage"
    [typeImageTemplate]="typeImage"
    (viewCharacter)="goToCharacterDetails()"
  >
  </app-character-image-pfp>
} @else if (imageStyle == 'card') {
  <!-- CARD -->
  <app-character-image-card
    [charmd]="charmd"
    [styles]="styles"
    [dimensions]="dimensions"
    [showElement]="showElement"
    [showType]="showType"
    [enableViewCharacter]="enableDetailsRedirect"
    [elementImageTemplate]="elementImage"
    [typeImageTemplate]="typeImage"
    (viewCharacter)="goToCharacterDetails()"
  >
  </app-character-image-card>
} @else if (imageStyle == 'gallery') {
  <!-- GALLERY -->
  <app-character-image-gallery
    [charmd]="charmd"
    [styles]="styles"
    [dimensions]="dimensions"
    [showElement]="showElement"
    [showType]="showType"
    [enableViewCharacter]="enableDetailsRedirect"
    [elementImageTemplate]="elementImage"
    [typeImageTemplate]="typeImage"
    (viewCharacter)="goToCharacterDetails()"
  >
  </app-character-image-gallery>
} @else if (imageStyle == 'info') {
  <!-- INFO -->
  <app-character-image-info
    [charmd]="charmd"
    [styles]="styles"
    [classes]="classes"
    [dimensions]="dimensions"
    [showElement]="showElement"
    [showType]="showType"
    [showNotes]="showNotes"
    [enableViewCharacter]="enableDetailsRedirect"
    [elementImageTemplate]="elementImage"
    [typeImageTemplate]="typeImage"
    (viewCharacter)="goToCharacterDetails()"
  >
  </app-character-image-info>
}

<ng-template #elementImage>
  <img
    [class.element-img-pfp]="imageStyle == 'pfp'"
    [class.element-img-card]="imageStyle == 'card' || imageStyle == 'gallery'"
    [src]="charmd.element?.imageUrl"
    [width]="iconSize"
    [height]="iconSize"
    [title]="charmd.element?.code"
    loading="lazy" />
</ng-template>

<ng-template #typeImage>
  <img
    [class.type-img-pfp]="imageStyle == 'pfp'"
    [class.type-img-card]="imageStyle == 'card' || imageStyle == 'gallery'"
    [ngStyle]="{'top': iconSize + 'px'}"
    [src]="charmd.type?.imageUrl"
    [width]="iconSize"
    [height]="iconSize"
    [title]="charmd.type?.label"
    loading="lazy" />
</ng-template>