@if (teams.length > 0) {
  <div>
    <div style="width: 100%; height: 100%;">
      <h5
        class="content-header"
        style="margin-top: 0;">
        Teams
        <span class="additional-text">
          ({{ teams.length }})
        </span>
      </h5>
      <div class="character-teams-container row">
        @for (team of teams; track team.code) {
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
            <app-team-info
              [teamCode]="team.code"
              [characterMobileSizeRation]="0.5">
            </app-team-info>
          </div>
        }
      </div>
    </div>
  </div>
}