:root {
    --background-color: #23242a;
    --text-color: #fff;
    --sidebar-color: #1c1d21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* Common styles ----------------------------------------------------------- */
.content-header {
    border-bottom: 2px solid #6b6b6b;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 25px 0 15px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.empty-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 63px); /* 63px is total height of details title (height + border + padding + margin) */
}

/* Side nav ---------------------------------------------------------------- */
.nav-component ~ .main-content {
    margin-left: 80px;
    width: calc(100% - 80px);
}
.nav-component.active ~ .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content {
    padding: 75px;
    /* height: 300vh; */
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.5s ease;
}

/* Team container ---------------------------------------------------------- */
.team-details {
    border: 2px solid #33343a;
}
@media (min-width: 769px) {
    /* none mobile view only */
    .team-details {
        /* 
            split container into 4 vertical sections separated by lines (3 lines) 
            https://stackoverflow.com/questions/43628280/create-a-div-with-7-dividing-vertical-lines
        */
        background:linear-gradient(
            to right, 
            transparent, transparent calc(100% / 4 * 1 - 3px), #33343a, transparent calc(100% / 4 * 1), 
            transparent, transparent calc(100% / 4 * 2 - 3px), #33343a, transparent calc(100% / 4 * 2), 
            transparent, transparent calc(100% / 4 * 3 - 3px), #33343a, transparent calc(100% / 4 * 3)
        );
    }
}

.team-details-container {
    padding: 0 15px;
}

.team-details-container td {
    color: var(--text-color);
}
.team-details-container .table {
    border: 1px solid #33343a;
    vertical-align: middle;
}
.team-details-container .table.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #2c2d33;
    box-shadow: none;
    color: #fff;
}
.team-details-container .table.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}
.team-details-container .table.table-striped td {
    align-items: center;
    justify-content: center;
}

/* Character rarity background --------------------------------------------- */
.GI-rarity-5 {
    background-image: url(assets/gi/GI_Rarity5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.GI-rarity-4 {
    background-image: url(assets/gi/GI_Rarity4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.HSR-rarity-5 {
    background: #885550;
    background: linear-gradient(180deg, #885550, #c9a36a 53%);
    border-bottom-color: #c9a36a;
}
.HSR-rarity-4 {
    background: #343659;
    background: linear-gradient(180deg, #343659, #8a5fcc 53%);
    border-bottom-color: #8a5fcc;
}

.ZZZ-rarity-S {
    background: #d7bc57;
    background: linear-gradient(0deg, #d7bc57, #d19910);
    border-bottom-color: #d7bc57;
}
.ZZZ-rarity-A {
    background: #be6fed;
    background: linear-gradient(0deg, #be6fed, #8c37bd);
    border-bottom-color: #952fd2;
}
