@font-face {
    font-family: 'BabyPlums';
    src: url('assets/fonts/BabyPlums.woff2') format('woff2');
}
@font-face {
    /* Free version */
    font-family: 'QuesatDemo';
    src: url('assets/fonts/QuesatDemo.woff2') format('woff2');
}
@font-face {
    /* Free version */
    font-family: 'Rukinax';
    src: url('assets/fonts/Rukinax.woff2') format('woff2');
}
@font-face {
    font-family: 'Death Star';
    src: url('assets/fonts/Death Star.woff2') format('woff2');
}

:root {
    --background-color: #23242a;
    --text-color: #fff;
    --sidebar-color: #1c1d21;
    --sidebar-width: 60px;
    --sidebar-m-width: 0; /* width in mobile view */
    --sidebar-active-width: 280px;
    --sidebar-m-active-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'QuesatDemo'; */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

img {
    user-select: none;
}

/* Scrollbar --------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Main content placement after Sidenav ------------------------------------ */
app-nav ~ .main-content {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}
app-nav.active ~ .main-content {
    margin-left: var(--sidebar-active-width);
    width: calc(100% - var(--sidebar-active-width));
}

.main-content {
    padding: 75px;
    /* height: 300vh; */
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.5s ease;
}

/* Common styles ----------------------------------------------------------- */
.content-header {
    border-bottom: 2px solid #6b6b6b;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin: 25px 0 15px;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.content-header .additional-text {
    color: hsla(0, 0%, 100%, .55);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding-left: 8px;
    text-transform: none;
}

.gagu-form-control {
    width: 100%;
    padding: 0.375em 0.75em;
    border: 1px solid #000;
    background-color: #fff;
    transition: box-shadow .15s ease-in-out;
}
.gagu-form-control:focus {
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
    outline: 0 none;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.draggable {
    cursor: grab;
}
.draggable:active {
    cursor: grabbing;
}

.gagu-popover {
    box-shadow: 0 0 20px #000;
    /* colors */
    --bs-popover-header-color: var(--text-color);
    --bs-popover-header-bg: #1c1d21;
    --bs-popover-body-color: var(--text-color);
    --bs-popover-border-color: transparent;
    --bs-popover-bg: var(--background-color);
    --bs-popover-max-width: 400px;
}

/* Dialog styles ----------------------------------------------------------- */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gagu-dialog {
    /* style of the dialog content */
    /* style of the dialog background (shadow overlay) */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* shared */
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gagu-dialog.dialog-shown {
    display: block;
    opacity: 1;
}
body:has(div.dialog-shown) {
    /* disable scroll when dialog is open */
    overflow: hidden;
}

.gagu-dialog-content {
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    animation: fade-in .2s;
}

/* tiny-slider missing classes --------------------------------------------- */
.tns-nav {
    text-align: center;
    margin: 10px 0;
}
.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #666;
    border: 0;
}
.tns-nav > .tns-nav-active {
    background: #ddd;
}