:root {
    --background-color: #23242a;
    --text-color: #fff;
    --sidebar-color: #1c1d21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/* Scrollbar --------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Main content placement after Sidenav ------------------------------------ */
app-nav ~ .main-content {
    margin-left: 80px;
    width: calc(100% - 80px);
}
app-nav.active ~ .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content {
    padding: 75px;
    /* height: 300vh; */
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.5s ease;
}

/* Common styles ----------------------------------------------------------- */
.content-header {
    border-bottom: 2px solid #6b6b6b;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin: 25px 0 15px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dialog styles ----------------------------------------------------------- */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gagu-dialog {
    /* style of the dialog content */
    /* style of the dialog background (shadow overlay) */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* shared */
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gagu-dialog.dialog-shown {
    display: block;
    opacity: 1;
}
body:has(div.dialog-shown) {
    /* disable scroll when dialog is open */
    overflow: hidden;
}

.gagu-dialog-content {
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    animation: fade-in .2s;
}

/* Character pfp + icons --------------------------------------------------- */
.character-container {
    position: relative;
    display: inline-block;
}

.character-container .pfp {
    display: block;
}

.character-container .build-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0 0 3px 3px;
    background-color: #ccc;
    border: 1px solid #1c1d21;
    border-radius: 0 0 0 100%;
    cursor: pointer;
}

.character-container .build-icon:hover {
    background-color: #999;
}

.character-container .element-icon {
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 3px 3px 0 0;
    background-color: #36373f;
    border: 1px solid #1c1d21;
    border-radius: 0 100% 0 0;
}

/* Team rotations ---------------------------------------------------------- */
.arrow-border {
    position: relative;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 8px;
}
  
.arrow-border::after {
    position: absolute;
    margin-left: -15px;
    content: ">";
    bottom: -0.75em;
}

.arrow-border::before {
    position: absolute;
    content: "<";
    top: -0.85em;
}

/* Character rarity background --------------------------------------------- */
.GI-rarity-5 {
    background-image: url(assets/gi/GI_Rarity5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.GI-rarity-4 {
    background-image: url(assets/gi/GI_Rarity4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.GI-rarity-3 {
    background-image: url(assets/gi/GI_Rarity3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.HSR-rarity-5 {
    background: #885550;
    background: linear-gradient(180deg, #885550, #c9a36a 53%);
    border-bottom-color: #c9a36a;
}
.HSR-rarity-4 {
    background: #343659;
    background: linear-gradient(180deg, #343659, #8a5fcc 53%);
    border-bottom-color: #8a5fcc;
}

.ZZZ-rarity-S {
    background: #d7bc57;
    background: linear-gradient(0deg, #d7bc57, #d19910);
    border-bottom-color: #d7bc57;
}
.ZZZ-rarity-A {
    background: #be6fed;
    background: linear-gradient(0deg, #be6fed, #8c37bd);
    border-bottom-color: #952fd2;
}
