@if (set) {
  <div
    class="set-container"
    [ngClass]="{
      'expandable': showExpandArrow,
      'set-container__flat': backgroundStyle === 'flat'
    }"
    [style.--set-dimension.px]="dimensions"
    [ngbPopover]="setEffectPopover"
    [popoverTitle]="set.name"
    popoverClass="gagu-popover"
    [disablePopover]="!hasPopoverEffect"
    container="body">

    <!-- Image -->
    <div
      class="set-image"
      [style]="rarity?.backgroundStyle">

      <img
        [src]="set.imageUrl ?? UNKNOWN_IMG"
        [width]="dimensions"
        [height]="dimensions"
        alt="" />
    </div>

    <!-- Info -->
    <div class="set-info">
      @if (equippedPieces) {
        <span class="equipped-pieces">
          ({{ equippedPieces }})
        </span>
      }

      <span class="set-name">
        {{ set.name }}
      </span>
    </div>

    <!-- Effect / Equipped By trigger -->
    @if (showExpandArrow) {
      <button
        type="button"
        class="expandable-arrow pointer collapsed"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="collapseTarget">

        <img
          src="assets/svg/arrow-down.svg"
          width="20"
          height="20"
          alt="" />
      </button>
    }

    <!-- Effect -->
    @if (hasBoxEffect) {
      <div
        class="set-effect collapse"
        [id]="effectId"
        data-bs-parent="#sets-container">

        @for (eff of setEffectsList; track eff.label) {
          <div class="effect-item">
            <b class="effect-label">{{ eff.label }}:</b>
            <span [innerHTML]="eff.formattedDescription"></span>
          </div>
        }
      </div>
    }

    <!-- Equipped characters -->
    @if (showEquippedBy) {
      <div
        class="equipped-by collapse"
        [id]="equippedById"
        data-bs-parent="#sets-container">

        <div class="equipped-characters">
          @for (char of equippedCharacters; track char) {
            <app-character-image
              [styles]="'margin: 0 5px; border-radius: 50%;'"
              [characterName]="char"
              [dimensions]="40">
            </app-character-image>
          }
        </div>
      </div>
    }
  </div>
}

<!-- Effect popover -->
<ng-template #setEffectPopover>
  <div class="set-effect">
    @for (eff of setEffectsList; track eff.label) {
      <div class="effect-item">
        <b class="effect-label">
          {{ eff.label }}:
        </b>
        <span [innerHTML]="eff.formattedDescription"></span>
      </div>
    }
  </div>
</ng-template>