<div class="row" id="team-characters-header">
  <div class="col-md-12">
    <div class="content-header">
      Characters
      <span class="additional-text">
        Showing ({{characters.length}}) Characters
      </span>
    </div>
  </div>
</div>

<div class="row col-md-1">
  <app-button-group
    [showAllButton]="false"
    [value]="viewType"
    [buttonList]="viewTypeList"
    (valueChange)="viewType = $event">
  </app-button-group>
</div>

<app-advanced-filter
  [rarityFilter]="true"
  [elementFilter]="true"
  [typeFilter]="true"
  [resetButton]="true"
  [placeholder]="'Search characters...'"
  (textChange)="onTextChange($event)"
  (rarityChange)="onRarityChange($event)"
  (elementChange)="onElementChange($event)"
  (typeChange)="onTypeChange($event)"
  (reset)="onReset()">
</app-advanced-filter>

@if (characters && characters.length > 0) {
  <div class="characters-container" id="characters-container" [class]="'characters-container-' + viewType">
    @for (charmd of characters; track charmd.code) {
      @if (viewType == 'cards') {
        <app-character-image
          [characterName]="charmd.name"
          [dimensions]="160"
          [enableDetailsDialog]="true"
          [showElement]="true"
          [showType]="true"
          [showBorderStyle]="true"
          [imageStyle]="'card'">
        </app-character-image>
      } @else if (viewType == 'pfp') {
        <app-character-image
          [characterName]="charmd.name"
          [enableDetailsDialog]="true"
          [showElement]="true"
          [showBorderStyle]="true"
          [imageStyle]="'pfp'">
        </app-character-image>
      } @else if (viewType == 'details') {
        <app-character-image
          [characterName]="charmd.name"
          [dimensions]="60"
          [enableDetailsDialog]="true"
          [showElement]="true"
          [showType]="true"
          [showBorderStyle]="true"
          [imageStyle]="'details'">
        </app-character-image>
      }
    }
  </div>
} @else {
  <app-no-data></app-no-data>
}