.search {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0 1em 0 0;
}

.search .clear-icon {
  color: #1c1d21;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  padding: 0 .2em;
  position: absolute;
  right: 9px;
  top: 6px;
}

@media (max-width: 1000px) {
  .search {
    margin: 0.5em 0;
  }
}