<h1 mat-dialog-title>
  <span>{{character}}'s Details</span>
  <span mat-icon-button [mat-dialog-close]="null" title="Close" style="float: right; margin-top: 15px; font-size: 1.5em;">
    &times;
  </span>
</h1>
<div mat-dialog-content>
  <div class="row gy-2 gx-3">
    <!-- AVATAR -->
    <div class="col-md-3">
      <div class="gagu-box-shadow d-flex justify-content-center align-items-center p-3"
        style="width: 100%; height: 100%;">
        <app-character-image [gameCode]="gameCode" [characterName]="character" [dimensions]="characterPFPSize"
          [withElement]="true" [withType]="true" [imageStyle]="'card'" [mobileSizeRatio]="0.6">
        </app-character-image>
      </div>
    </div>

    <app-character-build *ngIf="hasBuild" class="col-md-9" [gameCode]="gameCode" [character]="character" (hasBuild)="hasBuild = $event">
    </app-character-build>

    <app-character-combos *ngIf="hasCombos" class="col-md-9" [gameCode]="gameCode" [character]="character" (hasCombos)="hasCombos = $event">
    </app-character-combos>

    <app-character-teams class="col-md-12" [gameCode]="gameCode" [character]="character">
    </app-character-teams>
  </div>
</div>