<div class="team-search-container">
  <div>
    <app-search [query]="textValue" [placeholder]="placeholder" (textChange)="onTextChange($event)"></app-search>
  </div>

  @if (rarityFilter && rarities.length > 0) {
    <div>
      <app-button-group [value]="rarityValue" [buttonList]="rarities" [titleLabel]="'label'"
        (valueChange)="onRarityChange($event)">
      </app-button-group>
    </div>
  }

  @if (elementFilter && elements.length > 0) {
    <div>
      <app-button-group [value]="elementValue" [buttonList]="elements" [titleLabel]="'label'"
        (valueChange)="onElementChange($event)">
      </app-button-group>
    </div>
  }

  @if (typeFilter && types.length > 0) {
    <div>
      <app-button-group [value]="typeValue" [buttonList]="types" [titleLabel]="'label'"
        (valueChange)="onTypeChange($event)">
      </app-button-group>
    </div>
  }

  @if (tagFilter && tags.length > 0) {
    <div>
      <ng-select [(ngModel)]="tagValue" (change)="onTagChange($event)" [multiple]="true" [placeholder]="'Select tags...'"
                class="gagu-multi-form-control">
        @for (tag of tags; track tag.code) {
          <ng-option [value]="tag.code">
            <span class="badge hover pointer team-badge" [ngClass]="{ 'bg-secondary': !tag.style }" [style]="tag.style">
              {{ tag.label }}
            </span>
          </ng-option>
        }
      </ng-select>
    </div>
  }

  @if (resetButton) {
    <div>
      <button class="btn btn-secondary btn-reset" title="Reset" (click)="onReset();">
        <span class="clear-icon" role="button">
          &times;
        </span>
        <span style="margin-left: 25px;">Reset</span>
      </button>
    </div>
  }
</div>