<div class="container notes-container">
  <h5 class="content-header">
    <img src="assets/svg/notes.svg" height="20" style="margin-right: 5px;">
    Notes
  </h5>
  <div>
    @if (notes.length > 0) {
      <ul class="team-notes">
        @for (note of notes; track $index) {
          <li>
            @if (note.formattedTitle) {
              <span class="team-notes__title">
                <span [innerHTML]="note.formattedTitle"></span>
                :
              </span>
              <br/>
            }
            <span class="team-notes__content" [innerHTML]="note.formattedText"></span>
          </li>
        }
      </ul>
    }
  </div>
</div>