<h1 mat-dialog-title>
  <span>Team Details</span>
  <span mat-icon-button [mat-dialog-close]="null" title="Close" style="float: right; margin-top: 15px; font-size: 1.5em;">
    &times;
  </span>
</h1>
<div mat-dialog-content>
  <div>
    <div class="teams__container">
      <div class="number">{{teamIndex}}</div>
      <div class="item">
        <div class="name collapsed pointer" data-bs-toggle="collapse" data-bs-target="#${this.teamId}">
          <img [src]="team.iconUrl ?? 'assets/images/Placeholder_Logo.png'" [height]="isMobile() ? '30' : '40'">
          <span [innerHTML]="team.name ? team.name : '...'"></span>
        </div>
        <div class="members">
          <app-character-image *ngFor="let char of dummyCharactersList; index as i" [gameCode]="gameCode"
            [characterName]="team.characters[i]?.name" [dimensions]="characterPFPSize" styles="margin: 5px 10px;"
            [withDetailsDialog]="true" [withElement]="true" [mobileSizeRatio]="0.6">
          </app-character-image>

          <img *ngIf="activeGame.hasPet && petmd" [src]="petmd.imageUrl ?? 'assets/images/Unknown.png'"
            [height]="petPFPSize" [width]="petPFPSize" class="pet {{gameCode+'-rarity-'+petmd.rarity}}"
            [title]="petmd.name">
        </div>
        <div class="actions collapsed pointer" data-bs-toggle="collapse" data-bs-target="#${this.teamId}">
          <img src="assets/svg/arrow-down.svg" height="60" title="Details" class="action">
        </div>
      </div>
    </div>
    <div class="teams__details show" data-bs-parent="#teams" id="${this.teamId}">
      <app-team-roles [gameCode]="gameCode" [team]="team" class="table-responsive"></app-team-roles>
      <app-team-replacements [gameCode]="gameCode" [team]="team" class="table-responsive"></app-team-replacements>
      <app-team-notes [gameCode]="gameCode" [teamCode]="teamCode" class="table-responsive"></app-team-notes>
    </div>
  </div>
</div>