<div class="row" id="team-category-list-header">
  <div class="col-md-12">
    <div class="content-header">
      Teams
    </div>
  </div>
</div>

<app-advanced-filter
  [placeholder]="'Search teams and characters...'"
  [tagFilter]="true"
  (textChange)="onTextChange($event)"
  (tagChange)="onTagChange($event)">
</app-advanced-filter>

<app-list-by-category
  [categories]="teamByCatList"
  [showCategoryLabel]="true"
  [categoryLabelClass]="'mb-3'">

  <ng-template let-team>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
      <app-team-info [teamCode]="team.code" [showTags]="true"></app-team-info>
    </div>
  </ng-template>

</app-list-by-category>
