<div class="container roles-container">
  <div>
    <h5 class="content-header">
      <img src="assets/svg/roles.svg" height="20">
      Roles
    </h5>
  </div>
  <table class="table table-striped table-bordered">
    <tbody>
      @for (member of team.members; track $index) {
        <tr class="character-role">
          <td class="character-role__image">
            <app-character-image
              [characterName]="member.characterCode"
              [dimensions]="characterPFPSize"
              [styles]="'margin: 5px 10px;'"
              [mobileIconSizeRatio]="0.5">
            </app-character-image>
          </td>

          <td class="character-role__description">
            <div class="character-role__description-content">
              <img
                [src]="getRole(member.roleCode)?.imageUrl"
                height="30"
                [title]="getRole(member.roleCode)?.label">

              @if (member.roleDescriptionList) {
                <ul style="margin-bottom: 0;">
                  @for (desc of member.roleDescriptionList; track $index) {
                    <li> {{ desc }} </li>
                  }
                </ul>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>