.error-container {
  display: table;
  width: 100%;
  height: 70vh;
  text-align: center;
  color: var(--text-color);
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

.secondary-text {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text-color, #888);
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}