.team-search-container {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 2fr 1fr 2fr 2fr 1fr 1fr;
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn-reset {
  font-weight: 700;
  padding-right: 1em;
}

.btn-reset .clear-icon {
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0 .2em;
  position: absolute;
}

@media (max-width: 1000px) {
  .team-search-container {
    grid-template-columns: 1fr;
  }

  .btn-reset {
    margin: 0.5em 0;
    width: 100%;
    flex: 1;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}