<div class="row" id="set-list-header">
  <div class="col-md-12">
    <div class="content-header">
      {{ setsLabel }}
      <span class="additional-text">
        Showing ({{ count }}) {{ setsLabel }}
      </span>
    </div>
  </div>
</div>

<app-advanced-filter
  [placeholder]="'Search ' + setsLabel + '...'"
  (textChange)="onTextChange($event)">
</app-advanced-filter>

<app-list-by-category
  [categories]="setByTypeList"
  [showCategoryLabel]="showCategoryLabel">

  <ng-template let-set>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3">
      <app-set-details
        [setName]="set.name"
        [effectStyle]="'box'"
        [showEquippedBy]="true">
      </app-set-details>
    </div>
  </ng-template>

</app-list-by-category>
