<div class="team-info-container row gagu-box-shadow-10" style="margin: auto;">
  <div class="d-flex align-self-stretch" [ngClass]="{'col-md-4 col-sm-12': nameStyle == 'side', 'col-12': nameStyle == 'top'}">
    <div class="name-container d-flex flex-column justify-content-center align-items-center pointer hover w-100"
        [ngClass]="{'name-container-side': nameStyle == 'side'}" (click)="openTeamDetailsDialog()">
      <h5 class="fw-bold text-shadow" [innerHTML]="team.name ?? '...'"></h5>
      <span *ngIf="team.speciality && nameStyle == 'side'" class="speciality">
        {{ team.speciality }}
      </span>
    </div>
  </div>
  <div class="ti-characters-container d-flex justify-content-center"
      [ngClass]="{'col-md-8 col-sm-12': nameStyle == 'side', 'col-12': nameStyle == 'top'}">
    <app-character-image *ngFor="let character of team.characters" [gameCode]="gameCode"
      [characterName]="character.name" [dimensions]="characterPFPSize" [styles]="'margin: 5px 10px;'"
      [withDetailsDialog]="true" [withElement]="true" [mobileSizeRatio]="characterMobileSizeRation" [mobileIconSizeRatio]="0.8">
    </app-character-image>
  </div>
</div>