<div class="team-info-container row gagu-box-shadow-10" style="margin: auto;">
  <div class="d-flex align-self-stretch" [ngClass]="{'col-md-4 col-sm-12': nameStyle == 'side', 'col-12': nameStyle == 'top'}">
    <div class="name-container d-flex flex-column justify-content-center align-items-center w-100"
        [ngClass]="{'name-container-side': nameStyle == 'side'}">
      <h5 class="fw-bold text-shadow">
        <span [innerHTML]="team.name ?? '...'"></span>
        <img src="assets/svg/info.svg" height="15" class="mx-1 hover pointer" (click)="openTeamDetailsDialog()">
      </h5>
      <div *ngIf="showTags" class="d-flex flex-wrap justify-content-center gap-1 mt-1">
        <span *ngFor="let tag of teamTags" class="badge hover pointer team-badge"
              [ngClass]="{ 'bg-secondary': !tag.style }" [style]="tag.style">
          {{ tag.label }}
        </span> 
      </div>
    </div>
  </div>
  <div class="ti-characters-container d-flex justify-content-center align-items-center"
      [ngClass]="{'col-md-8 col-sm-12': nameStyle == 'side', 'col-12': nameStyle == 'top'}">
    <app-character-image *ngFor="let character of team.characters" [gameCode]="gameCode"
      [characterName]="character.name" [dimensions]="characterPFPSize" [styles]="'margin: 5px 10px;'"
      [withDetailsDialog]="true" [withElement]="true" [mobileSizeRatio]="characterMobileSizeRation" [mobileIconSizeRatio]="0.8">
    </app-character-image>
  </div>
</div>