.team-info-container {
  /* background-color: transparent; */
  border: 2px solid #33343a;
  background-color: #33343a;
}

.team-info-container .name-container {
  padding: 5px;
  color: #ffffff;
  background-color: #33343a;
}
.team-info-container .name-container-side {
  height: 60%;
  margin: auto 0;
  border-radius: 5px;
}

.team-info-container .speciality {
  color: darkgrey;
}

.team-info-container .ti-characters-container {
  display: flex;
  color: #ffffff;
}