@if (combos != null && combos.length > 0) {
  <div>
    <div class="gagu-box-shadow p-3" style="width: 100%; height: 100%;">
      <h5 class="content-header" style="margin-top: 0;">
        Combos
      </h5>
      <div class="combos-list">
        <ul>
          @for (combo of combos; track $index) {
            <li>
              @for (button of combo; track $index) {
                <img [src]="button.imageUrl" width="40" [title]="button.code" />
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}