<div class="row" id="weapon-list-header">
  <div class="col-md-12">
    <div class="content-header">
      {{weaponsLabel}}
      <span class="additional-text">Showing ({{weapons.length}}) {{weaponsLabel}}</span>
    </div>
  </div>
</div>

<app-advanced-filter [rarityFilter]="true" [typeFilter]="true" [resetButton]="true"
  [placeholder]="'Search ' + weaponsLabel + '...'" (textChange)="onTextChange($event)"
  (rarityChange)="onRarityChange($event)" (typeChange)="onTypeChange($event)" (reset)="onReset()">
</app-advanced-filter>

@if (weapons.length > 0) {
  <div id="weapons-container">
    <div class="row">
      @for (weapon of weapons; track weapon.name) {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3">
          <app-weapon-details [gameCode]="gameCode" [weaponName]="weapon.name" [effectStyle]="'box'" [showEquippedBy]="true"></app-weapon-details>
        </div>
      }
    </div>
  </div>
} @else {
  <app-no-data></app-no-data>
}
