<div class="row" id="weapon-list-header">
  <div class="col-md-12">
    <div class="content-header">
      {{weaponsLabel}}
      <span class="additional-text">Showing ({{weapons.length}}) {{weaponsLabel}}</span>
    </div>
  </div>
</div>

<app-advanced-filter [rarityFilter]="true" [typeFilter]="true" [resetButton]="true"
  [placeholder]="'Search ' + weaponsLabel + '...'" (textChange)="onTextChange($event)"
  (rarityChange)="onRarityChange($event)" (typeChange)="onTypeChange($event)" (reset)="onReset()">
</app-advanced-filter>

<div id="weapons-container">
  <div class="row" *ngIf="weapons.length > 0">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3" *ngFor="let weapon of weapons">
      <app-weapon-details [gameCode]="gameCode" [weaponName]="weapon.name"></app-weapon-details>
    </div>
  </div>
</div>