<div class="container replacements-container">
  <h5 class="content-header">
    <img src="assets/svg/replacements.svg" height="20" style="margin-right: 5px;">
    Replacements
  </h5>
  <table class="table table-striped table-bordered">
    @if (team) {
      <tbody>
        @for (member of team.members; track $index) {
          <tr>
            <td style="width: 50px; text-align: center">
              <app-character-image
                [characterName]="member.characterCode"
                [dimensions]="characterPFPSize"
                [styles]="'margin: 5px 10px;'"
                [mobileIconSizeRatio]="0.5">
              </app-character-image>
            </td>
            <td>
              @if (member.replacements && member.replacements.length > 0) {
                @for (rep of member.replacements; track $index) {
                  <app-character-image
                    [characterName]="rep.replacementCode"
                    [dimensions]="characterPFPSize"
                    [styles]="'margin: 5px 10px;'"
                    [enableDetailsDialog]="true"
                    [showElement]="true"
                    [mobileSizeRatio]="mobileSizeRatio"
                    [mobileIconSizeRatio]="mobileSizeRatio">
                  </app-character-image>
                }
              } @else {
                <div class="none">
                  <h1 class="empty-details" style="color: #000">&times;</h1>
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    }
  </table>
</div>