
.form-control {
  border-radius: 0 0.375rem 0.375rem 0.375rem;
}

.formatted-text-box {
  height: 150px;
  border: 1.5px solid white;
  border-radius: 0 0.375rem 0.375rem 0.375rem;
  padding: 10px;
}

.btn-formatter {
  border-color: white;
  color: white;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-formatter:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
